TRUELAYER_CLIENT_ID=your-client-id
TRUELAYER_CLIENT_SECRET=your-client-secret
TRUELAYER_ENV=live
REDIRECT_URI=https://truelayer.alexkoester.com/callback
ACTUAL_SERVER_URL=http://actual-server:5006
ACTUAL_SERVER_PASSWORD=your-actual-password
